@media (max-width:1450px){
    .support{
        display: none !important;
    }

}

@media (max-width:1200px) {

    .header-top{
        display: none;
        
    }
    .nav-inner-menu{
        margin-top: 0px;
    }
    .header-navigation{
        padding: 0;
    }
    .main-menu{
        display: none !important;
    }
    .ri-menu-line{
        display: block;
    }
   
}

@media (max-width:992px){
    .theme-btn{
        display: none;
    }

    .hero-content h1 span{
        font-size: 100px;
        align-items: center;
    }

    .sub-heading{
        display: inline-block;

    }
.basdj{
    text-align: center;
}
 .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .hero-image{
    position: static;
 }

 marquee{
    display: none;
 }

 .back-to-top{
    display: none;
 }

 .coptright-text{
    text-align: center;
 }
   
    
}

@media (max-width:600px){
    .line-wrap{
        display: none !important;
    }

}