* {
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-primary: #ef5046;
    --bg-white: #ffffff;
    --text-white: #ffffff;
    --text-primary: #111111;
    --transiton: all 0.33s linear;
    --border-color: rgba(16, 16, 16, 0.10);
    --secondary-color: #757575;
    --animate-duration: 5000ms;
    --animate-delay: 3s;

}


.header-area {
    position: relative;
    z-index: 9999;
}

.header-top {
    background-color: var(--bg-primary);
    padding: 15px 0 55px;

}

.color-white {
    color: var(--text-white);
}

.fw-500 {
    font-weight: 600;
}

.top-left p {
    font-size: 14px;
}

.dot {
    position: relative;
}

.dot::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background-color: var(--bg-white);
    border-radius: 50%;
    right: 5px;
    top: 8px;
}

.top-nav-link li {
    color: white;
    cursor: pointer;
    transition: var(--transiton);
  
}

.top-nav-link li:hover {
    border-bottom: 1px solid var(--text-white);
}


.round {
    background-color: rgba(255, 255, 255, 0.1);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.header-navigation {
    padding: 0 30px;

}

.nav-inner-menu {
    padding: 20px 50px;
    background-color: var(--bg-white);
    box-shadow: 10px 4px 60px rgba(157, 157, 157, 0.25);
    border-radius: 15px;
    margin-top: -45px;



}

.logo {
    max-width: 200px;
}

.menu-item li a {
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    color: var(--text-primary);
    font-size: 18px;
    text-decoration: none;
}

.theme-btn {
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    transition: var(--transiton);


}
.theme-btn-4 {
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    transition: var(--transiton);


}

.theme-btn:hover {
    background-color: var(--text-primary);
}






.line-wrap {
    position: fixed;
    top: 0px;
    left: 50%;
    bottom: 0px;
    width: 80%;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
}

.line_wrap .line_item {
    position: relative;
    width: 25%;
    height: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item_one {
    position: relative;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item_one::before {
    position: absolute;
    content: "";
    width: 1px;
    right: -1px;
    height: 100px;
    animation: scroll1 15s ease-out infinite;
    background: linear-gradient(0deg, black, transparent);
}

@keyframes scroll1 {
    0% {
        top: 0px;
        opacity: 1;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 100%;
        opacity: 0.5;
    }
}

@keyframes scroll2 {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    50% {
        bottom: 50%;
    }

    100% {
        bottom: 100%;
        opacity: 0.5;
    }
}

.line_item {
    position: relative;
    width: 25%;

    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item:nth-child(odd)::before {
    width: 1px;
    position: absolute;

    content: "";
    right: -1px;
    animation: scroll1 15s ease-out infinite;
    background: linear-gradient(0deg, transparent, black);
    height: 100px;
}

.line_item:nth-child(even)::before {
    width: 1px;
    position: absolute;
    content: "";
    right: -1px;
    animation: scroll2 15s ease-out infinite;
    background: linear-gradient(0deg, transparent, black);
    height: 100px;
}

html {
    scroll-behavior: smooth;
}

.hero-sb {
    padding: 200px 0 95px;
}

.sub-heading {
    border-color: rgba(241, 79, 68, 0.1);
    margin-bottom: 25px;
    background-color: #FEEEED;
    color: var(--text-primary);
    padding: 5px 22px;
    border-radius: 14px;
    border: 2px solid rgba(241, 79, 68, 0.1);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;

}

.sub-heading i {
    color: var(--bg-primary);
}

.hero-content h1 {
    font-size: 150px;
    letter-spacing: -4.5px;
    line-height: 1;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--text-primary);
}

.font-200 {
    font-weight: 200;
}

.fw-600 {
    font-weight: 600;
}

.hero-content p {
    margin-bottom: 35px;
}

.theme-btn-2 {
    margin-bottom: 70px;
    border: 1px solid rgba(31, 31, 31, 0.1);
    border-radius: 12px;
    padding: 11.5px 35px;
    font-weight: 700;
    background: transparent;
    transition: var(--transiton);
}

.hero-content {
    position: relative;
}



.hero-image {
    position: absolute;
    top: 100px;
    left: 0;
    width: 670px;
    height: 700px;
    z-index: 1;
}

.hero-image img {
    border-radius: 20px;
}

.what-we-sb {
    border-radius: 50px;
    margin: 0 30px;
    overflow: hidden;
}

.primary-bg {
    background-color: var(--bg-primary);
    padding: 60px 0 100px 0;
}

.headline {
    font-size: 250px;
    color: white;
    font-weight: 900;
}



.what-we-sb-headline {
    text-align: center;
    color: white;
    font-size: 52px;
    font-weight: 700;
}

.headline h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.what-we-do-btn {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    font-size: 20px;

}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E9E9;
    font-weight: 600;
    line-height: 1;
    color: var(--text-primary);
    margin-bottom: 20px;
    transition: var(--transiton);
}

.sasly-info-box {
    background-color: var(--bg-white);
    padding: 40px 50px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.title {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
}

.sasly-info-box:hover .number {
    color: var(--text-white);
    background-color: var(--bg-primary);
    border-color: transparent;
}

.title:before {
    left: 0;
    width: 100%;
    background-color: #E9E9E9;
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
}

.title::after {
    right: 0;
    width: 0%;
    background-color: var(--text-primary);
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
    transition: var(--transiton);
}

.sasly-info-box:hover .title::after {
    left: 0;
    right: auto;
    width: 100%;
    background-color: var(--text-primary);
}

.pb-75 {
    padding-bottom: 75px;
}

.pt-130 {
    padding-top: 130px;
}

.mb-60 {
    margin-bottom: 60px;
}

.text-anm {
    font-size: 52px;
    line-height: 55px;
    font-weight: 800;
}

.font-200 {
    font-weight: 200;
}

.mb-55 {
    margin-bottom: 55px;
}

.number-2 {
    font-weight: 600;
    font-size: 100px;
    color: var(--text-primary);
    letter-spacing: -2px;
    line-height: 1;
    margin-right: 20px;
}

.duration {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-primary);
    padding: 25px 30px;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    line-height: 27px;
}



.color-grey {
    color: #696969;
}

.fas {
    color: #ef5046;
    font-size: 20px;
}

.about-btn {
    transition: var(--transiton);
    cursor: pointer;
}

.about-btn:hover {
    color: white;
    background-color: #ef5046;
}

.abt-img img {
    border-radius: 20px;
}

.core-features-sb {
    background-color: #f0f2f4;
    border-radius: 50px;
    margin: 0 30px;
}

.features-wrapper {
    padding: 130px 0 100px 0;
}

.icon {
    margin-bottom: 28px;
}

.icon img {
    fill: #ef5046;

}

.sasly-card-2 {
    padding: 20px;
    background-color: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 100%;
}

.content-box-2 {
    padding: 20px 20px 30px 20px;
}

.content h5 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
}

.thumbnail img {
    width: 100%;
    border-radius: 7px;
    transform: scale(1);
    transition: all 0.4s ease-in;
}

.thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    max-height: 150px;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 31, 31, 0.65);
    visibility: hidden;
    opacity: 0;
    transition: var(--transiton);
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
}

.icon-btn i {

    transform: rotate(-45deg);
    font-size: 14px;
}

.sasly-card-2:hover .hover-overlay {
    opacity: 1;
    visibility: visible;
}

.sasly-card-2:hover .thumbnail img {
    transform: scale(1.1);
}

.hover-content a {
    text-decoration: none;
}

.pb-130 {
    padding-bottom: 130px;
}

.pt-130 {
    padding-top: 130px;
}

.light-grey {
    color: var(--secondary-color);
}

.thumbnail-2 {
    transform: scale(1);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.thumbnail-2 img {
    border-radius: 7px;
}

.hover-overylay-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    transition: var(--transiton);
}

.sasly-project-item:hover .hover-overylay-2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .thumbnail-2::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    transition: var(--transiton);
}

.thumbnail-2:hover::after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
} */


.content-case-study {
    padding-top: 30px;
}

.theme-btn-2:hover {
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
}

.key-features-sb {
    border-radius: 50px;
    margin: 0 30px;
    overflow: hidden;

}

.feature-bg {
    background-color: var(--text-primary);
    padding: 130px 0 105px 0;
}

.sasly-iconic-box {
    background-color: #2F2F2F;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: flex-start;
    padding: 30px 30px 25px;
    border-radius: 10px
}

.check-icon {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--white-color);
    border: 1px solid var(--bg-white);
    margin-right: 30px;
    color: white;
    transition: var(--transiton);

}

.sasly-content {
    margin-top: -8px;
}

.sasly-content-title {
    color: white;
}

.check-icon:hover {
    background-color: var(--bg-primary);

}

.key-features-sb .section-image-box {
    position: relative;
    max-width: 630px;
    min-height: 445px;
    margin-left: auto;
}

.sasly-img img {
    width: 100%;
    border-radius: 10px;
}

.company-box {
    position: absolute;
    bottom: 0;
    left: 20%;
    max-width: 270px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 40px 30px 30px;
    text-align: center;
}

.compant-box-title {
    padding-top: 30px;
    border-top: 1px solid var(--bg-white);
    color: var(--text-white);
    letter-spacing: -0.6px;
    line-height: normal;
    font-weight: 600;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-55 {
    padding-top: 55px;
}

.sasly-rating-box {
    padding: 20px 50px 50px;
    border-radius: 10px;
    background-color: var(--bg-primary);
}

.text-box {
    text-align: center;
    border-bottom: 2px dashed var(--bg-white);
    padding-bottom: 33px;
    margin-bottom: 40px;
}

.rating-point {
    font-size: 180px;

    font-weight: 600;
    line-height: 1;
    letter-spacing: -10.8px;
    color: var(--bg-white);
}

.text-box p {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: var(--bg-white);
}

.ri-star-fill {
    color: white;
    font-size: 22px;
}

.author-box {
    text-align: center;
}

.author-list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.author-box .author-list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--bg-white);
}

.ml-10 {
    margin-left: -10px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.saly-testimonial-slide {
    padding: 50px 30px 40px;
    position: relative;
    border-radius: 10px;
    border: 1px rgba(241, 79, 68, 0.1);

    z-index: 1;
}

.dot-bg {
    height: auto !important;
    background-color: rgba(241, 79, 68, 0.102);
    border-radius: 20px;
    position: relative;
}

.dot-bg::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../images/dot-bg.png);
    
}

.author-thumbnail {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.client-img {
    width: 200px;
}

.testimonial-content p {
    font-size: 24px;
    font-weight: 600;
    line-height: 37px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
}

.author-info-box::before {
    position: absolute;
    display: inline-flex;
    content: "";
    width: 100px;
    height: 2px;
    background-color: black;
    margin-right: 30px;
    margin-top: 7px;
    top: 0;
}

.box{
    width: 80px;
    aspect-ratio: 1;
    background-color: #2f2f2f5d;
    border-radius: 50%;
}

.swiper-button-prev{
    left: 25px !important;
    color: #E9E9E9 !important;
}

.swiper-button-next{
    right: 25px !important;
    color: #E9E9E9 !important;

}

.gap-50{
    gap: 50px;
}

.client-list{
    background-color: white;
    padding: 50px 0;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
}

.bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.pb-40 {
    padding-bottom: 40px;
}
.pt-90 {
    padding-top: 90px;
}

.cta-sb{
    background-image: url(../images/cta-bg1.jpg);
}

.cta-sb:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.3) 25.89%, #1F1F1F 92.7%);
}

.business-footer {
    color: #B8B8B8;
    background-color: var(--text-primary);
}

.pl-0{
    padding-left: 0;
}

.round-2 {
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}


.form_control {
    color: rgba(187, 187, 187, 0.7333333333);
    background-color: black;
    border: 1.2px solid gray;
    width: 100%;
    padding: 16px 140px 16px 40px;
    line-height: 20px;
    border-radius: 10px;

 
    font-size: 14px;
}

input:focus {
    outline: 0;
}

.form-group {
    position: relative;
    max-width: 410px;
}

.theme-btn-2 {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    transition: var(--transiton);


}

.footer-copyright {
    border-top: 1px solid rgba(128, 128, 128, 0.38);
    padding: 30px 0;
    position: relative;
}

.copyright-nav{
    display: flex;
    flex-direction: row-reverse;
}

.back-to-top {
    position: absolute;
    bottom: 75px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--bg-primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.ri-menu-line{
    font-size: 30px;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px;
    
}

.theme-btn-3 {
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    transition: var(--transiton);


}

.round-3 {
    background-color: var(--bg-primary);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;

}

.ul-line{
    position: relative;
}

.ul-line::after{
    position: absolute;
    content: "";
    top: 25px;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--bg-primary);
    transition: var(--transiton);
}

.ul-line:hover::after{
    width: 100%;
    left: 0;
    right: auto;

}

.btn-1{
    border: 1px solid black;
    padding: 5px;
    
}

.theme-btn-3 {
    position: absolute;
    top: 4px;
    right: 5px;
    border: 1px solid rgba(31, 31, 31, 0.1);
    border-radius: 12px;
    padding: 11.5px 35px;
    font-weight: 700;
    background: var(--bg-primary);
    transition: var(--transiton);
}

.preloader {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}

.preloader .loader img {
    animation: zoomInOut 3s ease-in-out infinite;
}

@keyframes  zoomInOut{
    0% {
        
        transform: scale(1);
    }
    50% {
        
        transform: scale(1.1);
    }
    100% {
        
        transform: scale(1);
    }
}