*{
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-primary:#ef5046;
    --bg-white:#ffffff;
    --text-white:#ffffff;
    --text-primary:#111111;
    --transiton:all 0.33s linear;
    
}

.header-area {
    position: relative;
    z-index: 9999;
}

.header-top{
    background-color: var(--bg-primary);
    padding: 8px 0 55px;

}

.color-white{
    color: var(--text-white);
}

.fw-500{
    font-weight: 600;
}

.top-left p{
    font-size: 14px;
}

.dot{
    position: relative;
}

.dot::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background-color: var(--bg-white);
    border-radius: 50%;
    right: 5px;
    top: 8px;
}

.top-nav-link li{
    color: white;
    cursor: pointer;
    transition: var(--transiton);
}



.round{
    background-color: rgba(255, 255, 255, 0.1);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
}

.header-navigation{
    padding: 0 30px;
 
}

.nav-inner-menu{
    padding: 20px 50px;
    background-color: var(--bg-white);
    box-shadow: 10px 4px 60px rgba(157, 157, 157, 0.25);
    border-radius: 15px;
    margin-top: -40px;
    
    

}

.logo{
    max-width: 200px;
}

.menu-item li a{
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    color: var(--text-primary);
    font-size: 18px;
    text-decoration: none;
}

.theme-btn {
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-primary);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    transition: var(--transiton);

    
}

.theme-btn:hover{
    background-color: var(--text-primary);
}



.top-nav-link li:hover{
    border-bottom: 1px solid var(--text-white);
}



.line-wrap{
    position: fixed;
    top: 0px;
    left: 50%;
    bottom: 0px;
    width: 80%;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
}

.line_wrap .line_item {
    position: relative;
    width: 25%;
    height: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item_one {
    position: relative;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item_one::before{
    position: absolute;
    content: "";
    width: 1px;
    right: -1px;
    height: 100px;
    animation: scroll1 15s ease-out infinite;
    background: linear-gradient(0deg,black,transparent);
}

@keyframes scroll1{
    0%{
        top: 0px;
        opacity: 1;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 100%;
        opacity: 0.5;
    }
}

@keyframes scroll2{
    0%{
        bottom: 0px;
        opacity: 1;
    }
    50%{
        bottom: 50%;
    }
    100%{
        bottom: 100%;
        opacity: 0.5;
    }
}

.line_item {
    position: relative;
    width: 25%;

    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.line_item:nth-child(odd)::before{
    width: 1px;
    position: absolute;

    content: "";
    right: -1px;
    animation: scroll1 15s ease-out infinite;
    background: linear-gradient(0deg,transparent,black);
    height: 100px;
}
.line_item:nth-child(even)::before{
    width: 1px;
    position: absolute;
    content: "";
    right: -1px;
    animation: scroll2 15s ease-out infinite;
    background: linear-gradient(0deg,transparent,black);
    height: 100px;
}

html{
    scroll-behavior: smooth;
}

.hero-sb {
    padding: 200px 0 95px;
}

.sub-heading {
    border-color: rgba(241, 79, 68, 0.1);
    margin-bottom: 25px;
    background-color: #FEEEED;
    color: var(--text-primary);
    padding: 5px 22px;
    border-radius: 14px;
    border: 2px solid rgba(241, 79, 68, 0.1);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;

}

.sub-heading i{
    color: var(--bg-primary);
}

.hero-content h1 {
    font-size: 150px;
    letter-spacing: -4.5px;
    line-height: 1;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--text-primary);
}

.font-200{
    font-weight: 200;
}

.fw-600{
    font-weight: 600;
}

.hero-content p {
    margin-bottom: 35px;
}

.theme-btn-2 {
    margin-bottom: 70px;
    border: 1px solid rgba(31, 31, 31, 0.1);
    border-radius: 12px;
    padding: 11.5px 35px;
    font-weight: 700;
    background: transparent;
}

.hero-content{
    position: relative;
}



.hero-image {
    position: absolute;
    top: 100%;
    left: 0;
    width: 670px;
    height: 700px;
    z-index: 1; 
}

.hero-image img{
    border-radius: 20px;
}

.what-we-sb {
    border-radius: 50px;
    margin: 0 30px;
    overflow: hidden;
}

.primary-bg{
    background-color: var(--bg-primary);
    padding: 60px 0 100px 0;
}

.headline{
    font-size: 250px;
    color: white;
    font-weight: 900;
}



.what-we-sb-headline{
    text-align: center;
    color: white;
    font-size: 52px;
    font-weight: 700;
}

.headline h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.what-we-do-btn{
    color: black;
   background-color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
   text-align: center;
   font-weight: 600;
   display: inline-block;
   font-size: 20px;

}

.number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E9E9;
    font-weight: 600;
    line-height: 1;
    color: var(--text-primary);
    margin-bottom: 20px;
    transition: var(--transiton);
}

.sasly-info-box{
    background-color: var(--bg-white);
    padding: 40px 50px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.title{
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
}

.sasly-info-box:hover .number{
    color: var(--text-white);
    background-color: var(--bg-primary);
    border-color: transparent;
}

.title:before{
    left: 0;
    width: 100%;
    background-color: #E9E9E9;
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
}

.title::after{
    right: 0;
    width: 0%;
    background-color: var(--text-primary);
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
    transition: var(--transiton);
}

.sasly-info-box:hover .title::after{
    left: 0; 
    right: auto;
    width: 100%;
    background-color: var(--text-primary);
}

.pb-75 {
    padding-bottom: 75px;
}
.pt-130 {
    padding-top: 130px;
}

.mb-60{
    margin-bottom: 60px;
}

.text-anm{
    font-size: 52px;
    line-height: 55px;
    font-weight: 800;
}

.font-200{
    font-weight: 200;
}

.mb-55 {
    margin-bottom: 55px;
}

.number-2{
    font-weight: 600;
    font-size: 100px;
    color: var(--text-primary);
    letter-spacing: -2px;
    line-height: 1;
    margin-right: 20px;
}

.duration {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-primary);
    padding: 25px 30px;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    line-height: 27px;
}

.section-content-box p{
    color:#696969 ;
}

.fas{
    color: #ef5046;
    font-size: 20px;
}

.about-btn{
    transition: var(--transiton);
    cursor: pointer;
}

.about-btn:hover{
    color: white;
    background-color: #ef5046;
}

.abt-img img{
    border-radius: 20px;
}

.core-features-sb {
    background-color:#f0f2f4;
    border-radius: 50px;
    margin: 0 30px;
}

.features-wrapper{
    padding: 130px 0 100px 0;
}

.icon {
    margin-bottom: 28px;
}





